<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">
  <div style="background-color: darkslateblue">
    <div class="container">
      <!-- Grid row-->
      <div class="row pt-3 pb-2 py-md-3 align-items-center">
        <!-- Grid column -->
        <div class="mb-2 mb-md-0 col-md-6 col-lg-5 text-center text-md-left">
          <!-- Github +-->
          <a class="footer-icon" href="https://github.com/MyrmoA">
            <i class="footer-icon fab fa-github fa-lg mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="footer-icon" href="https://www.linkedin.com/in/arie-myrmo-41799784/">
            <i class="fab fa-linkedin fa-lg mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="footer-icon" href="https://twitter.com/amyrmo1">
            <i class="fab fa-twitter-square fa-lg mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="footer-icon" href="http://github.com/myrmoa">
            <i class="fab fa-instagram fa-lg"> </i>
          </a>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 mb-0 text-center text-md-right">
          <!-- Copyright -->
          <div class="copyright">
            © 2020 Arie Myrmo. This site is
            <a href="https://github.com/myrmoa/myrmoa.github.io"> open source.</a>
          </div>
          <!-- Copyright -->
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row-->
    </div>
  </div>
</footer>
<!-- Footer -->
