<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
    <div class="container">
      <a
        class="navbar-brand override"
        routerLink="/"
        routerLinkActive="active"
        data-toggle="collapse"
        data-target=".navbar-collapse.show"
      >
        <img class="am-logo" src="assets/am-logo.png" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/about"
              routerLinkActive="active"
              data-toggle="collapse"
              data-target=".navbar-collapse.show"
              >About</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/projects"
              routerLinkActive="active"
              data-toggle="collapse"
              data-target=".navbar-collapse.show"
              >Projects</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
