<div class="pageHeader">
  <h2>About</h2>
  <hr />
</div>
<div>
  <p>Graduated from FGCU - Bachelors of Science in Software Engineering</p>
  <p>Software Developer - Enjoy building web and mobile applications that help others achieve success.</p>
  <br />
  Skilled in multiple programming languages and frameworks, specializing in Swift. <br /><br />
  Comfortable with encompassing the full technology stack, from front-end to server-side, configuration, and
  deployments.<br />
  <br />
  Proficient in all phases of the software development lifecycle, from an initial objective to product release.
  <br /><br />

  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque luctus, lectus nec condimentum condimentum, nisl elit
  imperdiet neque, eget ornare eros nulla non enim. Duis egestas est et lacinia consequat. Suspendisse eu tempor magna.
  Aenean at ipsum et nulla consequat placerat. Phasellus consequat ac nibh vitae lobortis. Vestibulum vel orci sit amet
  tellus volutpat ultrices. Ut vel diam dolor. Nullam imperdiet dui vel mi viverra, sed euismod justo tincidunt. Nulla
  quis ex eros. Maecenas aliquam elit pretium magna aliquet scelerisque. Pellentesque habitant morbi tristique senectus
  et netus et malesuada fames ac turpis egestas. Vivamus semper lacus nec quam tristique, sed consequat mi iaculis.
  Vestibulum quis molestie augue. Morbi ultricies dictum mi quis egestas. Vestibulum posuere nibh eget dapibus faucibus.
  Proin urna lorem, vulputate sit amet risus a, tincidunt pharetra urna. Pellentesque et nunc vitae dolor vulputate
  viverra lobortis sed est. Nullam ornare erat in nisi finibus ultricies quis eu nunc. Mauris auctor leo nec metus
  laoreet posuere sed vitae nunc. Aenean at urna at enim feugiat vulputate sit amet vel ante. Duis et massa varius,
  tempus elit eu, faucibus urna. Quisque et mauris libero. Maecenas aliquet ligula eu dui laoreet dignissim. Nunc
  tristique in elit ut ultrices. Integer et tellus magna. Phasellus vitae est ante. Praesent luctus, risus vel venenatis
  ornare, elit enim tristique nibh, vitae eleifend odio lectus sit amet nisl. Donec rutrum sem ac justo aliquet
  vestibulum. Duis luctus at odio sed accumsan. Proin egestas, tortor pretium aliquam ultricies, lectus nisl interdum
  nunc, nec lobortis enim nisl sit amet ante. Nam quis lobortis mauris. Phasellus eget egestas augue, quis mollis odio.
  Morbi semper sodales vehicula. Maecenas suscipit in justo ut efficitur. Vivamus eu sollicitudin ipsum. Ut ullamcorper
  iaculis quam tristique consequat. Donec porta facilisis rhoncus. Proin sodales aliquam nunc, vel semper leo. Etiam
  malesuada placerat finibus. In pellentesque arcu vel velit fermentum aliquam. In hendrerit mi sed massa condimentum
  scelerisque. Aliquam vel quam bibendum, dignissim ligula ut, fringilla ante. Aliquam tristique lacus vel velit
  bibendum, eu accumsan risus vestibulum. Vivamus a tincidunt nulla. Curabitur ac sem nisi. Donec in commodo leo, a
  tincidunt neque. Nam ac ornare nulla. Curabitur ac feugiat mi. Duis lectus augue, iaculis consectetur leo et, placerat
  iaculis elit. Praesent id ullamcorper lectus. Nullam orci augue, condimentum eget nunc a, rutrum semper nunc. Ut sit
  amet nibh maximus, vestibulum orci viverra, sodales diam.
</div>
