<div class="pageHeader">
  <h2>About</h2>
  <hr />
</div>
<div>
  <p>Graduated from FGCU - Bachelors of Science in Software Engineering</p>
  <p>Software Developer - Enjoy building web and mobile applications that help others achieve success.</p>
  <br /><br />
  Skilled in multiple programming languages and frameworks, specializing in Swift. <br /><br />
  Comfortable with encompassing the full technology stack, from front-end to server-side, configuration, and
  deployments. <br /><br />Proficient in all phases of the software development lifecycle, from an initial objective to
  product release.
</div>
<div class="bold">
  <br /><br />
  <b>Other interests:</b> reading books, playing sports, hiking trails with the dogs, video games, tea and coffee, moral
  philosophy, all music except country.
</div>
