<div class="pageHeader">
  <h2 style="color: darkslateblue">Projects</h2>
  <hr />
</div>
<h4><a href="https://apps.apple.com/us/app/draftvue/id1478179117">DraftVue</a></h4>
<p>
  DraftVue is an interactive Fantasy Football DraftBoard iOS application. Developed in Swift, this application was a fun
  side project that allowed me to learn the ins and outs of implementing and releasing an iOS application to the App
  Store.
</p>
<br />
<h3><a href="https://www.linkedin.com/in/arie-myrmo-41799784/">Test App</a></h3>
<p>Test is an test progressive web app in the works..</p>
