<div class="pageHeader">
  <h2 style="color: darkslateblue">Projects</h2>
  <hr />
</div>
<h4><a href="https://apps.apple.com/us/app/draftvue/id1478179117">DraftVue</a></h4>
<p>
  DraftVue is an interactive Fantasy Football DraftBoard iOS application. Developed in Swift, this application was a fun
  side project that allowed me to learn the ins and outs of implementing and releasing an iOS application to the App
  Store.<br />
  <i class="fab fa-swift fa-2x orange-text" title="Swift"></i>&nbsp;<i
    class="fab fa-app-store-ios fa-2x blue-text"
    title="App Store iOS"
  ></i>
</p>
<br />
<h4><a href="https://www.github.com/myrmoa/myrmoa.github.io">Personal Website</a></h4>
<p>
  This website is an Angular web app I designed and built. Looking to strengthen my web skill set, this Angula app
  allowed me to gain a better understanding of Angular and Bootstrap. I also setup a small ci pipeline with Github
  Actions.
  <br />
  <i class="fab fa-angular fa-2x red-text" title="Angular"></i>&nbsp;<i
    class="fab fa-bootstrap fa-2x purple-text"
    title="Bootstrap"
  ></i
  >&nbsp;<i class="fab fa-git-alt fa-2x deep-orange-text" title="Git"></i>
</p>
