<div class="containerOne">
  <app-header></app-header>
  <main class="container content navbar-padding">
    <router-outlet></router-outlet>
    <div *ngIf="isHome()" class="">
      <div class="text-center">
        <img class="thumb-headShot" src="assets/headShot.png" />
      </div>
      <br />
      <div class="home-title-name">Arie Myrmo</div>
      <div class="home-title-dev">Software Developer</div>
      <br />
      <p class="home-intro-text">
        Hello! My name is Arie Myrmo and I am a developer currently working for Arthrex, a global medical device company
        located in Southwest Florida. I am actively working on a variety of mobile and web
        <a routerLink="/projects">projects</a>. I am creative and driven individual who loves to help others achieve
        success. You can learn more about me <a routerLink="/about">here</a>.
      </p>
      <br />
    </div>
  </main>
  <app-footer class="footer"></app-footer>
</div>
