<div class="containerOne">
  <app-header></app-header>
  <main class="container content navbar-padding">
    <router-outlet></router-outlet>
    <div *ngIf="isHomeRoute()" class="">
      <div class="text-center">
        <img class="thumb-headShot" src="assets/headShot.png" />
      </div>
      <br />
      <span class="home-intro-text"
        >Welcome! My name is Arie Myrmo <br />
        I am a passionate Software Developer currently working for <a href="https://arthrex.com">Arthrex</a>, a global
        medical device company located in Southwest Florida. I work on a variety of different
        <a routerLink="/projects">projects</a>. I enjoy striving to build excellent software that improves the lives of
        those around me. You can learn more about me <a routerLink="/about">here</a>.
      </span>
      <br />
    </div>
  </main>
  <app-footer class="footer"></app-footer>
</div>
