<header>
  <nav class="navbar navbar-expand-lg" id="navbar">
      <div class="nav-toggler" [class.drawer-open]="isDrawerOpen" id="nav-toggler" (click)="toggleNavDrawer(!isDrawerOpen)">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
      </div>
      <a class="navbar-brand override" routerLink="/">
        <img class="am-logo" src="assets/am-logo.png" />
      </a>
      <nav-drawer [isDrawerOpen]="isDrawerOpen" (drawerToggleEmitter)="toggleNavDrawer($event)"></nav-drawer>
    
  </nav>
</header>